* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: var(--font-fam);
  font-weight: 300;
  color: var(--f_low);
  background-color: var(--background);
}

#root {
  display: flex;
  justify-items: center;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

header {
  width: fit-content;
}

a {
  color: var(--f_low);
  text-decoration: none;
}

#matrix {
  margin: 3em auto;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.cell {
  height: fit-content;
  padding: 1.5em 1.5em 0.5em 1.5em;
}

.cell:nth-child(1),
.cell:nth-child(3) {
  border-right: 1px dashed var(--b_med);
}

.cell:nth-child(1),
.cell:nth-child(2) {
  border-bottom: 1px dashed var(--b_med);
}

.cell-head {
  color: var(--f_high);
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  min-height: 30px;
  user-select: none;
  cursor: text;
}

.cell-body {
  min-height: 30vh;
  max-height: 30vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.add-task {
  color: var(--f_inv);
  user-select: none;
}

.task {
  color: var(--f_low);
  padding: 0.5em 0 0.1em 0;
  position: relative;
  display: flex;
  align-items: start;
}

.task:hover {
  cursor: pointer;
}

.task-content {
  margin-right: 0.5em;
  line-height: 1.5;
}

.task-content:focus,
.add-task:focus,
#undo-link:focus {
  border-bottom: 1px dashed var(--f_inv);
  outline: none;
}

.edit-text {
  color: var(--f_high);
  background-color: var(--background);
  border-radius: 4px;
  background: var(--b_high);
  padding: 5px 8px 4px 8px;
}

.edit-title {
  width: 60%;
}

.cell-1:first-child svg {
  stroke: var(--f_high);
}

.done {
  color: var(--b_low);
  text-decoration: line-through;
}

.checkbox {
  width: 24px;
  height: 24px;
  stroke: var(--b_low);
  padding: 0 8px 8px 0;
}

svg:focus {
  stroke: var(--f_inv);
  stroke-width: 2px;
}

#undo {
  display: flex;
  flex-direction: row;
  width: 30ch;
  justify-content: space-between;
  color: var(--f_low);
  background-color: var(--b_high);
  border-radius: 8px;
  padding: 0.6em 1em;
  position: sticky;
  bottom: 3em;
  z-index: 40;
  margin: 0 auto;
  box-shadow: 0px 0px 1.3px -35px rgba(0, 0, 0, 0.067),
    0px 0px 3.2px -35px rgba(0, 0, 0, 0.094),
    0px 0px 6.6px -35px rgba(0, 0, 0, 0.113),
    0px 0px 13.5px -35px rgba(0, 0, 0, 0.157),
    0px 0px 37px -35px rgba(0, 0, 0, 0.25);
}

#input-container {
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: 3em;
  z-index: 20;
  box-shadow: 0px 0px 1.3px -35px rgba(0, 0, 0, 0.067),
    0px 0px 3.2px -35px rgba(0, 0, 0, 0.094),
    0px 0px 6.6px -35px rgba(0, 0, 0, 0.113),
    0px 0px 13.5px -35px rgba(0, 0, 0, 0.157),
    0px 0px 37px -35px rgba(0, 0, 0, 0.25);
}

#undo-text {
  margin-bottom: 1px;
}

#undo-link {
  font-weight: 400;
  color: var(--f_high);
  cursor: pointer;
  margin-left: 2em;
}

#undo-link:hover {
  cursor: pointer;
}

#menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  bottom: 1em;
  z-index: 10;
}

#menu {
  display: flex;
  justify-content: center;
}

#menu-toggle {
  color: var(--f_low);
  background-color: var(--b_high);
  width: fit-content;
  border-radius: 20px;
  padding: 0.1em 1em 0.4em 1em;
  margin-top: 1.3em;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.11) 0px 8px 24px;
}

#menu div {
  display: flex;
  align-items: center;
  color: var(--f_low);
  background-color: var(--b_high);
  width: fit-content;
  border-radius: 6px;
  padding: 0.4em 1em 0.6em 1em;
  margin-right: 1em;
  cursor: pointer;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.11) 0px 8px 24px;
}

#menu div label {
  cursor: pointer;
}

#menu div:last-child {
  margin-right: 0;
}

#menu div svg {
  stroke: var(--f_low);
}

#star a {
  display: flex;
  align-items: center;
}

svg {
  outline: none;
  border: none;
}

.add-task:hover {
  cursor: pointer;
}

#input-container {
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: 3em;
  z-index: 20;
  box-shadow: 0px 0px 1.3px -35px rgba(0, 0, 0, 0.067),
    0px 0px 3.2px -35px rgba(0, 0, 0, 0.094),
    0px 0px 6.6px -35px rgba(0, 0, 0, 0.113),
    0px 0px 13.5px -35px rgba(0, 0, 0, 0.157),
    0px 0px 37px -35px rgba(0, 0, 0, 0.25);
}

input,
textarea {
  font-size: 16px;
  font-family: var(--font-fam);
  border: none;
  outline: none;
  width: 100%;
}

#task-input {
  max-width: 50ch;
  padding: 10px 10px 10px 15px;
  border-radius: 8px;
  color: var(--f_high);
  background: var(--b_high);
  margin: 0 1em;
}

.visually-hidden {
  display: none !important;
}

.secret {
  color: var(--b_high);
  background-color: var(--b_high);
}

.secret:hover {
  color: var(--f_low);
  background-color: var(--background);
}

@media (max-width: 801px) {
  .cell:nth-child(1),
  .cell:nth-child(2),
  .cell:nth-child(3) {
    border: none;
  }
  .cell-body {
    max-height: fit-content;
    min-height: 3em;
    overflow-y: auto;
  }
  .cell {
    min-height: fit-content;
    margin-bottom: 2em;
  }
  #matrix {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto 3em auto;
  }
  #input-container,
  #undo {
    bottom: 1em;
  }
}

::selection {
  color: var(--background);
  background-color: var(--f_med);
}

:root {
  --f_high: #eee;
  --f_med: #ccc;
  --f_low: #aaa;
  --f_inv: #777;

  --b_high: #333;
  --b_med: #444;
  --b_low: #555;
  --b_inv: #666;

  --background: #222;

  --m-c: calc(1vh / 1vw);
  --font-fam: lars, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #888;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

[data-rbd-drag-handle-context-id] {
  cursor: pointer !important;

  outline: none;
}

[data-rbd-drag-handle-context-id]:focus {
  border-radius: 4px;
  border: 1px dashed var(--f_inv);
}

.slide-in {
  animation: slide-in 1000ms;
}

.slide-out {
  animation: slide-out 1000ms;
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translate(0%);
  }
}

@keyframes slide-out {
  from {
    transform: translate(0%);
  }
  to {
    transform: translateY(100%);
  }
}

body {
  background: var(--background) !important;
}

#picker {
  background-color: var(--b_inv) !important;
  color: var(--f_inv) !important;
}
#picker:before {
  color: var(--f_med) !important;
}
#picker input::placeholder {
  color: var(--f_med) !important;
}
.fh {
  color: var(--f_high) !important;
  stroke: var(--f_high) !important;
}
.fm {
  color: var(--f_med) !important;
  stroke: var(--f_med) !important;
}
.fl {
  color: var(--f_low) !important;
  stroke: var(--f_low) !important;
}
.f_inv {
  color: var(--f_inv) !important;
  stroke: var(--f_inv) !important;
}
.bh {
  background: var(--b_high) !important;
}
.bm {
  background: var(--b_med) !important;
}
.bl {
  background: var(--b_low) !important;
}
.b_inv {
  background: var(--b_inv) !important;
}
.icon {
  color: var(--f_high) !important;
  stroke: var(--f_high) !important;
}

@font-face {
  font-family: "lars";
  font-weight: 400;
  src: url("./fonts/lars.otf");
}

@font-face {
  font-family: "lars";
  font-weight: 300;
  src: url("./fonts/lars-light.otf");
}

@font-face {
  font-family: "lars";
  font-weight: 500;
  src: url("./fonts/lars-med.otf");
}
